---
import { Icon } from 'astro-icon/components'

interface Props {
  label: string
  href: string
  notBlank?: boolean
  leftIcon?: string
  rightIcon?: string
}

const { label, href, notBlank, leftIcon, rightIcon } = Astro.props
---

<a
  {href}
  target={notBlank ? '_self' : '_blank'}
  class="font-title font-medium bg-primary no-animation btn btn-primary text-[#EFEFEF] shadow-md text-[18px]"
  role="button"
>
  {leftIcon && <Icon name={leftIcon} />}
  {label}
  {rightIcon && <Icon name={rightIcon} />}
</a>

<style>
  .btn {
    min-height: 2.8rem;
    min-width: 140px;
    height: 2.8rem;
    padding: 0 18px;
  }
  [data-icon] {
    @apply block
    w-[18px];
  }
</style>
