---
import { Icon } from 'astro-icon/components'

interface Props {
  label: string
  href: string
  leftIcon?: string
}

const { label, href, leftIcon } = Astro.props
---

<div>
  <a {href} target="_blank" class="font-medium btn btn-link text-[16px]">
    {leftIcon && <Icon name={leftIcon} />}
    {label}
  </a>
</div>

<style>
  a {
    @apply text-base-300;
    min-height: 2.2rem;
    height: 2.2rem;
    text-decoration: none;
    font-weight: 400;
  }

  [data-icon] {
    @apply block 
    w-[16px];
  }
</style>
