---
import { Icon } from 'astro-icon/components'
---

<footer
  class="h-[100px] text-white bg-[#0E1337] flex justify-center items-center gap-2 font-light"
>
  <Icon name="logo" />
  <p>© 2024 Andrew Domingues</p>
</footer>

<style>
  [data-icon] {
    @apply block w-[26px];
  }
</style>
