---
import { localizePathname } from '@/linking'
import * as m from '@/paraglide/messages'
import { languageTag } from '@/paraglide/runtime'
import { Icon } from 'astro-icon/components'
import LangToggle from './LangToggle.astro'
import SideMenu from './SideMenu.astro'
---

<header class="shadow-md fixed w-full top-0 backdrop-blur-sm z-[2]">
  <div class="navbar p-[10px] px-5 max-w-3xl mx-auto">
    <div class="navbar-start">
      <a href={localizePathname('/', languageTag())} id="logo">
        <Icon name="logo" />
        <span class="py-[4px] px-2 font-title">DrewDomi</span>
      </a>
    </div>
    <div class="navbar-center hidden md:block">
      <ul class="flex flex-row">
        <li>
          <a href={localizePathname('/', languageTag())}>{m.linkLabelHome}</a>
        </li>
        <li>
          <a href={localizePathname('/projects', languageTag())}>
            {m.linkLabelProjects}
          </a>
        </li>
        <li>
          <a href={localizePathname('/#contact', languageTag())}>
            {m.linkLabelContact}
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-end gap-4">
      <LangToggle />
      <span class="md:hidden">
        <SideMenu />
      </span>
    </div>
  </div>
</header>

<style>
  @keyframes rotateAnim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #logo {
    @apply flex
    items-center
    justify-start;
    font-size: 18px;
    transition: 1s ease;
    font-family: 'Rubik';
    text-shadow:
      1px 0 #000000,
      -2px 0 #000000,
      0 2px #000000,
      0 -2px #000000,
      1px 1px #000000,
      -1px -1px #000000,
      1px -1px #000000,
      -1px 1px #000000;
  }
  #logo:hover svg {
    animation: rotateAnim 1.5s 2 linear alternate-reverse;
  }
  svg {
    @apply h-4;
  }
  li {
    display: flex;
  }
  li a {
    color: white;
    width: 100%;
    padding: 6px 16px;
    text-shadow:
      1px 0 #000000,
      -2px 0 #000000,
      0 2px #000000,
      0 -2px #000000,
      1px 1px #000000,
      -1px -1px #000000,
      1px -1px #000000,
      -1px 1px #000000;
  }
  li a::after {
    content: '';
    height: 2px;
    width: 0;
    display: block;
    position: relative;
    top: 0;
    transition: width 0.3s ease-in-out;
    @apply bg-neutral-content;
  }
  li a:hover::after {
    width: 100%;
  }
</style>
