---
import * as m from '@/paraglide/messages'
import { Icon } from 'astro-icon/components'

import { localizePathname } from '@/linking'
import { languageTag } from '@/paraglide/runtime'
import Button from './Button.astro'
import SectionTitle from './SectionTitle.astro'
---

<section>
  <SectionTitle title={m.skillsSectionTitle()} />

  <div id="icons" class="mt-3 lg:flex flex-col flex-wrap">
    <div class="flex flex-wrap lg:mb-0">
      <div class="flex justify-center items-start">
        <div class="tooltip tooltip-bottom tooltip-open" data-tip="Angular">
          <Icon name="angular" aria-label="Angular" />
        </div>

        <div class="tooltip tooltip-bottom tooltip-open" data-tip="Astro">
          <Icon name="astro" aria-label="Astro" />
        </div>

        <span aria-hidden="true">
          <label for="next-react" class="swap swap-flip">
            <input id="next-react" type="checkbox" />

            <div
              class="swap-off tooltip tooltip-bottom tooltip-open"
              data-tip="Next.js"
            >
              <Icon name="nextjs" class="text-stone-950" aria-label="Next.js" />
            </div>

            <div
              class="swap-on tooltip tooltip-bottom tooltip-open"
              data-tip="React"
            >
              <Icon name="react" class="text-stone-950" aria-label="react" />
            </div>
          </label>
        </span>
      </div>

      <div class="flex justify-center items-start">
        <div class="tooltip tooltip-bottom tooltip-open" data-tip="Spring">
          <Icon name="spring" aria-label="Spring framework" />
        </div>

        <span aria-hidden="true">
          <label for="nest-node" class="swap swap-flip">
            <input id="nest-node" type="checkbox" />

            <div
              class="swap-off tooltip tooltip-bottom tooltip-open"
              data-tip="NestJS"
            >
              <Icon name="nestjs" aria-label="NestJS" />
            </div>

            <div
              class="swap-on tooltip tooltip-bottom tooltip-open"
              data-tip="Node.js"
            >
              <Icon name="node" aria-label="Node" />
            </div>
          </label>
        </span>
      </div>

      <div class="flex justify-center items-start">
        <span aria-hidden="true">
          <label for="ts-js" class="swap swap-flip">
            <input id="ts-js" type="checkbox" />

            <div
              class="swap-off tooltip tooltip-bottom tooltip-open"
              data-tip="Typescript"
            >
              <Icon name="typescript" aria-label="Typescript" />
            </div>

            <div
              class="swap-on tooltip tooltip-bottom tooltip-open"
              data-tip="Javascript"
            >
              <Icon name="javascript" aria-label="Javascript" />
            </div>
          </label>
        </span>

        <div class="tooltip tooltip-bottom tooltip-open" data-tip="Java">
          <Icon name="java" aria-label="Java" />
        </div>

        <div class="tooltip tooltip-bottom tooltip-open" data-tip="Go">
          <Icon name="go" aria-label="Go" />
        </div>
      </div>

      <div class="flex justify-center items-start">
        <div class="tooltip tooltip-bottom tooltip-open" data-tip="Ionic">
          <Icon name="ionic" aria-label="Ionic" />
        </div>

        <span aria-hidden="true">
          <label for="postgres-mongodb" class="swap swap-flip">
            <input id="postgres-mongodb" type="checkbox" />

            <div
              class="swap-off tooltip tooltip-bottom tooltip-open"
              data-tip="Postgres SQL"
            >
              <Icon name="postgresql" aria-label="Postgres SQL" />
            </div>

            <div
              class="swap-on tooltip tooltip-bottom tooltip-open"
              data-tip="MongoDB"
            >
              <Icon name="mongodb" aria-label="MongoDB" />
            </div>
          </label>
        </span>
      </div>
    </div>
  </div>
</section>

<div class="flex justify-center">
  <Button
    notBlank
    href={localizePathname('/projects', languageTag())}
    label={m.linkLabelProjects()}
    rightIcon="fluent:arrow-right-12-filled"
  />
</div>

<style>
  svg,
  img {
    @apply inline
      w-[60px]
      h-[60px]
      text-8xl
      cursor-pointer;
  }

  #icons div {
    @apply flex
    justify-center
    gap-[48px]
    mb-[32px];
  }
</style>
